*/ --- starting css  --- */

body {
	background-color: #FEFBE9;
	color: #473C33;
	margin: 0;
}

div {
	height: 200px;
	padding-bottom: 20px;
	text-align: center;
	width: 200px;
}

.topcontainer {
	background-color: #FDA769;
	margin: 0px 0px 0px 0px;
}

.middlecontainer {
	background-color: #FEC868;
	margin: 0px 0px 0px 0px;
}

.bottomcontainer {
	background-color: #ABC270;
	margin: 0px 0px 0px 0px;
}

h1 {
	color: #473C33;
	text-decoration-style: ;

}

hr {
	color: #473C33;
	width: 20%;
	height: 0;
	border-style: dotted;

}