html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
	background: #4E6C50 url(sidebar.png);
	background-position: right;
	background-size: 32%;
	background-repeat: no-repeat;
	display: table-cell;
    vertical-align: middle;


}

h1, h2, h3 {
	color: #BFDB38;
	text-align: center;
    font-family: 'Courier New', monospace;
}

div {
	background-color: #F0EBCE;
	width: 40%;
	border-radius: 25px;
  	background: ;
  	padding: 10px;
}

.brunch {
	background-color: #AA8B56;
}

.dinner {
	background-color: #F0EBCE;
}

.dessert {
	background-color: #AA8B56;
}

.specials {
	background-color: #F0EBCE;
}

.weekend {
	background-color: #AA8B56;
}