body {
	background-color: #F2CC96;
	font-family: Garamond, serif;
	text-color: #814906;
}

hr {
	border-color: #D35823;
	border-style: none;
	border-top-style: dotted;
	border-width: 10px;
	width: 30%;
}

h1 {
	color: #D35823;
	text-decoration-line: overline;
	text-decoration-style: solid;
}

h3 {
	color: #D35823;
	text-decoration-line: overline;
	text-decoration-style: solid;
}

a{
	color: #F7EBC9;
	font-style: italic;
}

a:hover{
	background-color: #D35823;
	color: #814906;
	text-decoration-line: overline;
}

img {
	filter: sepia(80%);
}