body {
    font-family: Garamond, Georgia, serif;
    line-height: 30px;
    background: #1F4172;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 100px;
    padding: 0px;
    overflow: ;
    }

a:link {
    color: #292725;
    text-transform: uppercase;

}

a:hover {
    color: #292725;
    background-color: #FF6107;
    text-transform: lowercase;
}

a:visited {
    color: #C40018;
    text-transform: uppercase;
}

.header {
  border: 1px solid #292725;
  box-shadow: 2px 2px 5px #292725;
  padding: 8px 12px;
  background: #dc9153;
  margin: 0;
  padding: 0;
  text-align: center;
  z-index:100;

}

.footer {
  text-align: center;
  padding: 8px 12px;
}

.fade-in-text {
  font-family: Garamond, Georgia, serif;
  font-style: italics;
  font-size: 25px;
  animation: fadeIn 10s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

nav {
  top: 0%;
  width: 100%;
  position: fixed;
  background-color: rgb(0, 123, 206, 0.6);
  opacity: ;
}

.container {
  padding: 22px;
  margin: 0 auto;
  text-align: center;
}
.container ul li {
  list-style: none;
  margin: 0 10px;
  display: inline-block;
}
.container ul li a:hover {
  padding: 12px;
  color: #fc0;
}
.container ul li a {
  margin: 8px;
  padding: 10px;
  color: #fff;
  font-size: 1.2em;
  text-decoration: none;
  transition: all 0.3s ease-out;
}
.active {
  border-bottom: 2px solid #d0d7d9;
}
.container p{
margin-bottom: 16px;
color: #fc0;
font-weight: 700;
font-size: 20px;
}

.item {
  width: 75%;
  padding: 50px;
  height:80vh;
  text-align: center;
  background-color: #ecf0f1;
  border-bottom: ;
  
}

.first {
  margin-top: 200px;
}
.default {
  margin-top: 200px;
}
.col-full {
  width: ;
}

/* Styling the area of the slides */
#slideshow {
  overflow: hidden;
  height: 510px;
  width: 728px;
  margin: 0 auto;
}
 
/* Style each of the sides 
with a fixed width and height */
.slide {
  float: left;
  height: 510px;
  width: 728px;
}

.slide img {
    height: 510px;
    width: 728px;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.slide img:hover {
    filter: none;
    -webkit-filter: grayscale(0);
}
 
/* Add animation to the slides */
.slide-wrapper {
   
/* Calculate the total width on the
  basis of number of slides */
  width: calc(728px * 6);
 
/* Specify the animation with the
  duration and speed */
  animation: slide 20s ease infinite;
}
 
/* Define the animation 
for the slideshow */
@keyframes slide {
   
/* Calculate the margin-left for 
  each of the slides */
  20% {
    margin-left: 0px;
  }
 
  40% {
    margin-left: calc(-728px * 1);
  }
 
  60% {
    margin-left: calc(-728px * 2);
  }
 
  80% {
    margin-left: calc(-728px * 3);
  }

    100% {
    margin-left: calc(-728px * 4);
  }

    120% {
    margin-left: calc(-728px * 5);
  }

    140% {
    margin-left: calc(-728px * 6);
  }
}

html, body {
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin-left: 200px;
}

header,
footer {
  flex: none;
  background: #;
  margin-left: 0px;
  margin-right: 0px;
}

main {
  overflow-y: scroll;
  flex: auto;
}