body {
    font-family: Optima, Georgia, serif;
    line-height: 30px;
    background: #1F4172;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 100px;
    padding: 0px;
    overflow: ;
    }

a:link {
    color: #1F4172;
    text-transform: uppercase;

}

a:hover {
    color: #FFFFFF;
    background-color: #000000;
    text-transform: lowercase;
}

a:visited {
    color: #1F4172;
    text-transform: uppercase;
}

.header {
  padding: 7px 10px;
  background: #dc9153;
  margin: 0;
  padding: 0;
  text-align: center;
  z-index:100;

}

h1, h2, h3 {
    font-style: italic;
}

img {
    height: 510px;
    width: 728px;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

img:hover {
    filter: none;
    -webkit-filter: grayscale(0);
}  

.footer {
  text-align: center;
}

.fade-in-text {
  font-family: Garamond, Georgia, serif;
  font-style: italic;
  font-size: 25px;
  animation: fadeIn 10s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

nav {
  width: 65%;
  padding: 14px 52px;
  top: 0%;
  position: fixed;
  background-color: rgb(0, 123, 206, 0.6);
  opacity: ;
}

.container {
  padding: 22px;
  margin: 0 auto;
  text-align: center;
}
.container ul li {
  list-style: none;
  margin: 0 10px;
  padding: 5px 10px;
  display: inline-block;
}
.container ul li a:hover {
  padding: 12px;
  color: #;
}
.container ul li a {
  margin: 8px;
  padding: 5px;
  color: #fff;
  font-size: 1.0em;
  text-decoration: none;
  transition: all 0.3s ease-out;
}
.active {
  border-bottom: 2px solid #d0d7d9;
}
.container p{
margin-bottom: 16px;
color: #;
font-weight: 700;
font-size: 10px;
}

.item {
  width: 75%;
  padding: 50px;
  height:100vh;
  text-align: center;
  background-color: #ecf0f1;
  border-bottom: ;
  
}

.first {
  margin-top: 200px;
}
.default {
  margin-top: 200px;
}
.col-full {
  width: ;
}

/* Styling the area of the slides */
#slideshow {
  overflow: hidden;
  height: 510px;
  width: 728px;
  margin: 0 auto;
}
 
/* Style each of the sides 
with a fixed width and height */
.slide {
  float: left;
  height: 510px;
  width: 728px;
}

.slide img {
    height: 510px;
    width: 728px;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.slide img:hover {
    filter: none;
    -webkit-filter: grayscale(0);
}
 
/* Add animation to the slides */
.slide-wrapper {
   
/* Calculate the total width on the
  basis of number of slides */
  width: calc(728px * 6);
 
/* Specify the animation with the
  duration and speed */
  animation: slide 20s ease infinite;
}
 
/* Define the animation 
for the slideshow */
@keyframes slide {
   
/* Calculate the margin-left for 
  each of the slides */
  20% {
    margin-left: 0px;
  }
 
  40% {
    margin-left: calc(-728px * 1);
  }
 
  60% {
    margin-left: calc(-728px * 2);
  }
 
  80% {
    margin-left: calc(-728px * 3);
  }

    100% {
    margin-left: calc(-728px * 4);
  }

    120% {
    margin-left: calc(-728px * 5);
  }

    140% {
    margin-left: calc(-728px * 6);
  }
}

html, body {
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin-left: 200px;
}

header,
footer {
  flex: none;
  background: #;
  margin-left: 0px;
  margin-right: 0px;
}

main {
  overflow-y: scroll;
  flex: auto;
}

.content {
    border: 
    width: ;
}



form {
  /* Center the form on the page */
  margin: 0 auto;
  width: 400px;
  /* Form outline */
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  /* Uniform size & alignment */
  display: inline-block;
  width: 90px;
  text-align: right;
}

input,
textarea {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;

  /* Uniform text field size */
  width: 300px;
  box-sizing: border-box;

  /* Match form field borders */
  border: 1px solid #999;
}

input:focus,
textarea:focus {
  /* Additional highlight for focused elements */
  border-color: #000;
}

textarea {
  /* Align multiline text fields with their labels */
  vertical-align: top;

  /* Provide space to type some text */
  height: 5em;
}

.button {
  /* Align buttons with the text fields */
  padding-left: 90px; /* same size as the label elements */
}

button {
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
  margin-left: 0.5em;
}

